.phone__item {
  position: relative;
  width: 350px;
  margin-bottom: 30px;
}

.phone__item-link {
  display: inline-block;
  text-align: center;
  padding: 25px 0 50px;
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  padding: 15px 21px 33px;
  border-radius: 30px;
  text-decoration: none;
  width: 350px;
}

.phone__item-isselected {
  position: absolute;
  top: 15px;
  left: 22px;
}

.phone__item-img {
  margin-bottom: 54px;
}

.phone__item-text {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.phone__item-title {
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
  color: #1c1c27;
}

.phone__item-price {
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
  color: #ffa542;
}

.phone__item-del-price {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  text-decoration-line: line-through;
  color: #ffce7f;
}

.phone__item-kategoriya {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.phone__item-kategoriya-img {
  margin-right: 10px;
}

.phone__item-kategoriya-degree {
  margin-top: 2px;
}
